<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="main_wrapper">
        <div id="header">
            <img src="/Layout/image/22-220966_phone-icon-png-red-icon-in-thoi-png.png" alt="tinh yeu" width="50px">
            Header
        </div>
        <div id="menu">
            Menu 
        </div>
        <div id="main_content">
            <div id="left_sidebar">
                left_sidebar
            </div>
            <div id="right_sidebar">
                right_sidebar
            </div>
            <div id="content">
                content
            </div>
        </div>
        <div id="footer">
            Footer
        </div>
    </div>
</body>
</html>